:root {
  --white: hsl(0, 14%, 97%);
  --grey_light: hsl(0, 0%, 66%);
  --grey_middle: hsl(0, 0%, 32%);
  --grey_dark: hsl(240, 10%, 26%);
  --bg_light: hsl(240, 13%, 23%);
  --bg_regular: hsl(240, 17%, 19%);
  --bg_middle: hsl(240, 19%, 17%);
  --bg_main: hsl(240, 24%, 15%);
  --bg_dark: hsl(240, 26%, 13%);
  --primary: hsl(127, 28%, 75%);
  --primary_hover: hsl(127, 28%, 55%);
  --danger: hsl(346, 91%, 75%);
  --danger_hover: hsl(346, 48%, 62%);
  --bringpink: hsl(346, 60%, 75%);
  --bringpinkdark: hsl(346, 60%, 40%);
  --polishedpine: hsl(157, 60%, 75%);
  --polishedpinedark: hsl(157, 60%, 40%);
  --greenbluecayola: hsl(207, 60%, 75%);
  --greenbluecayoladark: hsl(207, 60%, 40%);
  --oldrose: hsl(8, 60%, 75%);
  --oldrosedark: hsl(8, 60%, 40%);
  --orhid: hsl(307, 60%, 75%);
  --orhiddark: hsl(307, 60%, 40%);
}
