:root {
  --white: hsl(220, 15%, 100%);
  --white_soft: hsl(220, 15%, 97%);
  --white_hard: hsl(220, 15%, 85%);
  --grey_light: hsl(220, 15%, 74%);
  --grey_middle: hsl(220, 15%, 68%);
  --grey_dark: hsl(220, 15%, 37%);

  --bg_light: hsl(220, 15%, 24%);
  --bg_soft: hsl(220, 15%, 22%);
  --bg_middle: hsl(220, 15%, 20%);
  --bg_dark: hsl(220, 15%, 17%);
  --bg_black: hsl(220, 15%, 15%);
  --primary: hsl(111, 28%, 75%);
  --primary_hover: hsl(127, 28%, 55%);
  --danger: hsl(346, 90%, 75%);
  --danger_hover: hsl(346, 90%, 55%);

  --brown: hsl(20, 35%, 65%);
  --green: hsl(155, 35%, 65%);
  --pink: hsl(330, 35%, 65%);
  --violet: hsl(265, 35%, 65%);
  --blue: hsl(226, 35%, 65%);
}
